<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :matches_won %><br>
    <%= f.number_field :matches_won %>
  </div>
  <div class="field">
    <%= f.label :matches_lost %><br>
    <%= f.number_field :matches_lost %>
  </div>
  <div class="field">
    <%= f.label :games_won %><br>
    <%= f.number_field :games_won %>
  </div>
  <div class="field">
    <%= f.label :games_lost %><br>
    <%= f.number_field :games_lost %>
  </div>
  <div class="field">
    <%= f.label :cups_made %><br>
    <%= f.number_field :cups_made %>
  </div>
  <div class="field">
    <%= f.label :shots_taken %><br>
    <%= f.number_field :shots_taken %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
